@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;

	max-width: 1392px;
	height: 688px;

	margin: 0 auto;
	padding: 0 24px;

	background: center no-repeat url('../../../public/images/redbox_back.png');
	background-color: var(--color-red-accent);
	background-size: 95%;

	border-radius: 70px;

	@include tablet {
		background-size: contain;

		border-radius: 35px;

		margin: 0 12px;

		max-height: 500px;
	}

	@include tablet-small {
		margin: 0 8px;

	}

	.title {
		color: #FFF;
		font-size: 48px;
		font-weight: 500;
		margin-bottom: 40px;
		text-align: center;

		@include tablet {
			font-size: 32px;
			margin-bottom: 24px;
		}
	}

	.buttons {
		display: flex;
		gap: 20px;

		& + .buttons {
			margin-top: 20px;
		}

		@include tablet {
			gap: 20px;
			flex-direction: column;
		}

		button {
			display: flex;
			align-items: center;
			gap: 8px;
			padding: 10px 23px;
			white-space: nowrap;

			border-radius: 35px;
			border: 1px solid #FFF;

			background-color: #FFF;

			font-family: var(--font-inter);
			font-weight: 500;
			font-size: 20px;
			line-height: 130%;

			transition: all 1s ease;

			@include tablet {
				padding: 6px 13px;
				font-size: 20px;
			}

			&:hover,
			&:focus {
				background-color: var(--color-red-accent);
				color: white;
				border: 1px solid #FFFFFF32;
			}

			.icon {
				width: 24px;
				height: 24px;
				fill: currentColor;

				@include tablet {
					width: 20px;
					height: 20px;
				}
			}
		}
	}
}
